@import "tailwindcss";

@theme {
    --color-primary: #f97316;
    --color-secondary: #ea580c;
    --color-bg-color: #d4d4d8;

}
@layer base {
}

@layer utilities {
    .container {
        @apply mx-auto max-w-[1400px]
    }
    .section-w {
        @apply w-[90%] sm:w-[80%] mx-auto 
    }
}